/* general styles */
body{
    background-color: #EDEEF6;
}
/* navbar styles */
nav {
    background-color: #31343D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div {
    background-color: #91CBCD;
    display: flex;
    align-items: center;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav div span {
    color: #31343D;
    padding-left: 75px;
    padding-right: 10px;
    font-size: 42px;
}
nav ul {
    color: #91CBCD;
    display: flex;
    margin-right: 75px;
}
nav ul a {
    font-size:28px;
    padding-left: 30px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
nav ul a:hover {
    font-size: 30px;
}
/* sidebar container styles */
.container-sidebar {
    display: flex;
    justify-content: end;
    width: 300px;
    border-right: 5px solid #31343D;
}
.sidebar-text {
    color: #31343D;
    font-size: 75px;
    padding: 20px;
    margin-left: 20px;
}
/* img span container styles */
#container-img {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/banner.png) no-repeat center;
    background-size: cover;
}
#img-text {
    background-color: #91CBCD;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 0px 75px 15px 0px;
}
#img-text span {
    font-size: 50px;
    color: #31343D;
}
/* about me container styles */
#container-aboutMe {
    background-color: #EDEEF6;
    display: flex;
    margin-top: 40px;
}
#aboutMe {
    background-color: #EDEEF6;
    padding-left: 50px;
    font-size: 24px;
    margin-right: 330px;
}
/* content container styles */
#container-projects {
    background-color: #EDEEF6;
    display: flex;
    margin-top: 40px;
}
#container-content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0px 20px 0px 20px;
}
/* feature card styles */
#card-feature {
    position: relative;
    width: 1050px;
    height: 450px;
    margin: 0px 0px 0px 20px;
    border: 5px #91CBCD solid;
    border-radius: 3px;
    background-image: url(/assets/img/project2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#card-feature a {
    display: block;
    width: 100%;
    height: 100%;
}
#card-feature:hover {
    scale: 101%;
    opacity: 75%;
}
/* card styles */
.card {
    position: relative;
    width: 500px;
    height: 250px;
    margin: 40px 20px 0px 20px;
    border: 5px #91CBCD solid;
    border-radius: 3px;

}
.card a {
    display: block;
    width: 100%;
    height: 100%;
}
.card:hover {
    scale: 101%;
    opacity: 75%;
}
#card1 {
    background-image: url(/assets/img/challenge5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#card2 {
    background-image: url(/assets/img/project1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#card3 {
    background-image: url(/assets/img/challenge6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#card4 {
    background-image: url(/assets/img/challenge9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* card text styles */
.text-field {
    background-color: #91CBCD;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 15px 30px 15px 30px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.main-text {
    color: #31343D;
    font-size: 55px;
}
.sub-text {
    color: #31343D;
    font-size: 20px;
}
/* footer styles */
footer {
    display: flex;
    margin-top: 40px;
}
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    padding-left: 45px;
    padding-right: 350px;
}
#footer a {
    color: #31343D;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 32px;
}





/* resize window styles */
@media (max-width: 1400px) {
    #container-content {
        justify-content: center;
    }
    #card-feature {
        width: 700px;
        height: 350px;
    }
    .card {
        width: 500px;
    }
}